@use "node_modules/@material/theme";
@use "node_modules/@material/button/mdc-button";
@use "node_modules/@material/button";
@use "node_modules/@material/elevation/mdc-elevation";
@use "node_modules/@material/textfield/mdc-text-field";

body {
    font-family: Roboto, sans-serif;
}

.mdn-chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.chapter {
    max-width: 80ch;
    width: 100%;
    margin: 8px;
}
.chapter_header{
    top : 0;
    background-color: theme.$primary;
    color: theme.$on-primary;
    padding: 8px 24px;
    margin: 0;
    h3{
        margin: 0;
    }
}
.chapter_body {
    margin:0;
    padding: 8px 16px;
}
.three_body {
    width: 100%;
    position: relative;
    align-content: center;
    background-color: black;
    border: 0;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    background-color: black;
    margin: auto;
}